.faq-module-index h1 {
    text-align: center;
    margin-top: 4%;
}

.faqContainer {
    margin: 5% 10% 0 10%;
}

.alert-success {
    margin-top: 1%;
    color: green;
}

.alert-danger {
    margin-top: 1%;
    color: red;
}

#displayUnansweredFAQContainer {
    margin-bottom: 10%;
}

.faq-unanswered-container {
    margin-top: 3.5%;
    width: 100%;
}


.faq-unanswered-question {
    font-size: 20px;
    margin-top: 1%;
}

.faq-unanswered-answer-input {
    border: solid rgba(0, 0, 0, 0.402) .5px;
    width: inherit;
    height: 7vh;
    margin-top: 1%;
    text-indent: 2%;
}

.faq-unanswered-answer-input::placeholder {
    color: rgba(0, 0, 0, 0.526);
    font-weight: 300;
    text-indent: 2%;
    font-size: 14px;
    font-family: "Inter var", -apple-system, blinkmacsystemfont, "San Francisco", "Segoe UI", roboto, "Helvetica Neue", sans-serif;
}


.faq-unanswered-submit-button {
    border: 1px solid #c2ccd6;
    background: #f9fafb;
    color: #52667a;
    transition: all 0.15s ease-out;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 24px;
    font-family: "Inter var", -apple-system, blinkmacsystemfont, "San Francisco", "Segoe UI", roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 34px;
    outline: none;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin-top: 1%;
}

.faq-unanswered-submit-button:hover {
    background: #e4e4e4;
}