{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

    {% block page_product_detail_buy_button %}
        <div class="d-grid">
            <button class="btn btn-primary btn-buy"
                    title="{{ "detail.addProduct"|trans|striptags }}"
                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
            <span class="addProduct-default-text">{{ "detail.addProduct"|trans|sw_sanitize }}</span>
            <span class="addProduct-click-animation-text" style="display: none;">{{ "detail.addProductClickAnimation"|trans|sw_sanitize }}</span>
            </button>
        </div>
    {% endblock %}