{# <plugin root>/src/Resources/app/administration/src/module/sw-cms/elements/dailymotion/preview/sw-cms-el-preview-dailymotion.html.twig #}
{% block sw_cms_block_webeface_employeepicture_name_jobtitle_preview %}
    <div class="sw-cms-preview-webeface-employeepicture-name-jobtitle">
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <h2>Name</h2>
            <p>Job title</p>
        </div>
    </div>
{% endblock %}